.header {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fbf7ef;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.welcome {
  padding-left: 48px;
  font-size: 48px;
  margin-right: 40px;
}

.navbar {
  flex: 1;
  text-align: center;
  margin-top: 8px;
  max-width: 500px;
}

.personal-links-container {
  text-align: right;
  margin-top: 8px;
  margin-right: 80px;
}

.darkmode-toggle {
  margin-left: 24px;
}

.nav-items,
.personal-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-items {
  margin-left: 100px;
}

.personal-links li {
  margin-right: 32px;
  font-size: 20px;
}

.links {
  color: #fbf7ef;
  text-decoration: none;
}

.personal-links li:hover {
  margin-right: 32px;
  cursor: pointer;
}

.nav-item,
.nav-item-active {
  margin-right: 48px; /* Adjust spacing between items */
  cursor: pointer;
}

.nav-item-active {
  text-decoration: underline;
}
